/* body général */
body{
    margin: 0;
}

/* haut de page, header */
.navbar-brand{
    width: 10%;
}

.container-fluid img{
    width: 100%;
}

.d-flex{
    gap: 30px;
}

.nav-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.imagefond{
    background-image: url(images/Photo-17-1024x576.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 150px;
}

.imagepresentation img{
    border-radius: 10px;
}

h1{
    text-align: center;
    font-family: 'Lobster', sans-serif;
    font-size: 80px;
}

/* text accroche */
.presentation h2{
    color:  rgb(106, 106, 106);
    font-family: 'Lobster', sans-serif;
    font-size: 60px;
}

.textAccroche{
    text-align: justify;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.service h2{
    padding-bottom: 5px;
}

.text-center{
    font-family: 'Lobster', sans-serif;
}

.pt-4{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.card{
    font-family: 'Montserrat', sans-serif;
}

.card:hover{
    transform: scale(1.1);
    box-shadow:  0px 0px 20px 10px #B3A596;
}

.pied-de-page{
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 2%;
    justify-content: space-evenly;
    background-color: rgb(68, 68, 68);
}

.contact{
    box-sizing: border-box;
    width: 20%;
}

.Liens{
    width: 30%; 
}

.Liens img{
    width: 70px;
    padding: 2%;
}

.mt-4 img{
    width: 150px;
}

.contact{
    width: 40%;
}

.contact h4{
    padding-bottom: 4%;
}

strong{
    color: #B3A596;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.mentions{
    text-align: center;
}

.main{
    background-color: #D3D1C5;
}

@media screen and (max-width: 932px){
    .imagefond{
        padding-left:0;
        padding-right: 0;
        padding-top:10%;
        padding-bottom: 10%;
    }

    .rounded-3>img{
        padding-bottom: 10%;
    }

    .Liens img{
        width: 50px;
        padding: 2%;
    }
    
    .mt-4 img{
        width: 120px;
    }
}

.imagefondDiete{
    background-image: url(images/alimentation-saine.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 150px;
}

.imagefondCalcul{
    background-image: url(images/TABLEAU-CALORIES.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 150px;
}

.imagefondAnatomie{
    color: #6A6A6A;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 50px;
}

.imagefondEntrainement{
    background-image: url(images/homegym-inspirations-salle-musculation-materiel-atx.jpg);
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    padding: 150px;
}

#form{
    display: flex;
    flex-direction: column;
  
}

.CalculateurKcal {
    width: 100%;
   
}

.repas{
    background-color: #D3D1C5;
}

.repas>h2{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

label{
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
}

input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid gray;
}

select{
    background-color:rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid gray;
}

#result{
    background-color: #D3D1C5;
    color: green;
    font-size: 20px;
    font-weight: bold;
}

#button{
    margin-bottom: 20px;
}

.grid-generale{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.box1, .box2, .box3, .box4{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.box1>p, .box2>p, .box3>p, .box4>p{
    font-family: 'Montserrat', sans-serif;
    margin: 30px;
}

.box1>img, .box2>img, .box3>img, .box4>img{
    border-radius: 20px;
    width: 70%;
    margin-left: 58px;
}

.box1>img:hover, .box2>img:hover, .box3>img:hover, .box4>img:hover{
    border: #198754 2px solid;
}

.box1{
    grid-column: 1/2;
    grid-row: 1/2;
}

.box2{
    grid-column: 2/3;
    grid-row: 1/2;
}

.box3{
    grid-column: 3/4;
    grid-row: 1/2;    
}

.box4{
    grid-column: 4/5;
    grid-row: 1/2;
}

.bt{
    color: white;
    background-color: #198754;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
}

.grid-generale2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.box5{
    grid-column: 1/2;
    grid-row: 1/2;    
}

.box5{
    grid-column: 2/3;
    grid-row: 1/2;
}

.box5>div>img, .box6>div>img{
    border-radius: 20px;
    width: 30%;
}

.box5>div, .box6>div {
    text-align: center;
}

.box5, .box6{
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 50px;
    font-family: 'Montserrat', sans-serif;
}

#Lipides, #Proteines, #Laitage, #Glucides, #legumes{
    opacity:0;
}

#Lipides:hover, #Proteines:hover, #Laitage:hover, #Glucides:hover, #legumes:hover{
      opacity:1;
}
  
.VotreProgramme{
    background-color: #D3D1C5;
}

#messages{
    font-family: 'Montserrat', sans-serif;
    color: green;
    font-size: 20px;
    font-weight: bold;
}

.ProgPayants{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProgPayants>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.VotreProgramme>h2, .ProgPayants>h2{
    text-align: center;
    padding-top: 10px;
    text-decoration: underline;
}

@keyframes fade {
    From {
      Opacity : 1;
    }
    To {
      Opacity : 0;
    }
  }

.ProgPayants>img{
    width: 35%;
    border-radius: 5px;
    Animation-name : fade;
    Animation-delay : 3s;
    Animation-duration : 3s;
    Animation-iteration-count : infinite;
      
}

